recursive-include *.py *.html *.txt *.xml
include django_redis_monitor/postgresql_psycopg2_backend *.py
include django_redis_monitor/mysql_backend *.py
include django_redis_monitor/sqlite3_backend *.py
